page-home {
  .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .iconStartScreen {
      width: 20vh;
    }
    .whiteLettersStartPage {
      margin: 5vh;
      text-align: center;
    }
  }
}
