<!-- cordova app -->
<div *ngIf="plt == 'cordova'">

    <!-- ios -->
    <ion-header showWhen="ios">
        <ion-navbar>
            <ion-buttons start>
                <button ion-button navPop>
                    Close
                </button>
            </ion-buttons>
            <ion-title>TV Mode</ion-title>
        </ion-navbar>
    </ion-header>

    <!-- android -->
    <ion-header showWhen="android">
        <ion-navbar>
            <ion-title>TV Mode</ion-title>
            <ion-buttons left>
                <button ion-button icon-oncly navPop>
                    <ion-icon name="arrow-round-back"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>

</div>

<!-- desktop web app -->
<div *ngIf="plt == 'desktopweb'">

    <ion-header>
        <ion-navbar>
            <ion-buttons left>
                <button ion-button icon-only menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>TV Mode</ion-title>
        </ion-navbar>
    </ion-header>

</div>

<ion-content padding>

</ion-content>