<!-- cordova app -->
<div *ngIf="plt == 'cordova'">

    <!-- ios -->
    <div showWhen="ios">
        <ion-tabs>
            <ion-tab tabTitle="{{tab1.Name}}" tabIcon="{{tab1.Icon}}" [root]="tab1.Page"></ion-tab>
            <ion-tab tabTitle="{{tab2.Name}}" tabIcon="{{tab2.Icon}}" [root]="tab2.Page"></ion-tab>
            <ion-tab tabTitle="{{tab3.Name}}" tabIcon="{{tab3.Icon}}" [root]="tab3.Page"></ion-tab>
        </ion-tabs>
    </div>

    <!-- android -->
    <div showWhen="android">
        <ion-tabs>
            <ion-tab tabTitle="Queue" tabIcon="{{tab1.Icon}}" [root]="tab1.Page"></ion-tab>
            <ion-tab tabTitle="{{tab2.Name}}" tabIcon="{{tab2.Icon}}" [root]="tab2.Page"></ion-tab>
        </ion-tabs>
    </div>

</div>


<!-- mobile web app -->
<div *ngIf="plt == 'mobileweb'">

    <ion-menu type="overlay" [content]="sideMenu">
        <ion-content>
            <h2 padding>Menu</h2>
            <ion-list>
                <button ion-item menuClose *ngFor="let tab of tabs" (tap)="openPage(tab.Page)">
                    <ion-icon name="{{tab.Icon}}" item-start></ion-icon>
                    {{tab.Name}}
                </button>
                <button ion-item menuClose (tap)="shareParty()">
                    <ion-icon name="share" item-start></ion-icon>
                    Share Party
                </button>
                <button ion-item menuClose (tap)="exitParty()">
                    <ion-icon name="power" item-start></ion-icon>
                    Exit Party
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-nav id="nav" #sideMenu [root]="root"></ion-nav>

</div>


<!-- desktop web app -->
<div *ngIf="plt == 'desktopweb'">

    <ion-split-pane>
        <ion-menu type="overlay" [content]="sideMenuCore">
            <ion-content>
                <h2 padding>Menu</h2>
                <ion-list>
                    <button ion-item menuClose *ngFor="let tab of tabs" (tap)="openPage(tab.Page)">
                        <ion-icon name="{{tab.Icon}}" item-start></ion-icon>
                        {{tab.Name}}
                    </button>
                    <button ion-item menuClose (tap)="shareParty()">
                        <ion-icon name="share" item-start></ion-icon>
                        Share Party
                    </button>
                    <button ion-item menuClose (tap)="exitParty()">
                        <ion-icon name="power" item-start></ion-icon>
                        Exit Party
                    </button>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-nav id="nav-core" #sideMenuCore [root]="root" main></ion-nav>
    </ion-split-pane>

</div>