page-admin {
    .white {
        background-color: #1c1f24;
        color: #ffffff;
    }
    .background {
        background-color: #1c1f24;
    }
    .backgroundLeft {
        background-color: #1c1f24;
        float: left;
        color: white;
    }
    .floatRight {
        background-color: #1c1f24;
        float: right;
        color: white;
    }
}
