<!-- header: desktop web app -->
<div *ngIf="plt == 'desktopweb'">

    <ion-header>
        <ion-navbar>
            <ion-buttons left>
                <button ion-button icon-only menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Admin</ion-title>
        </ion-navbar>
    </ion-header>

</div>

<!-- end: header: desktop web app -->

<ion-content>
    <ion-list margin>
        <ion-item>
            <ion-label>Party Name: </ion-label>
            <ion-input type="text" placeholder="Type here"></ion-input>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-item *ngFor="let playlist of playlists ">
            <ion-thumbnail item-start>
                <img ion-img [src]="playlist.thumbnail" />
            </ion-thumbnail>
            <h2>{{playlist.Name}}</h2>
            <p>{{ amount }} {{playlist.AnzTitel}} </p>
            <button ion-button clear item-end icon-only>
                <ion-icon name="shuffle"></ion-icon>
            </button>
            <button ion-button clear item-end icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

</ion-content>