page-queue {
  .searchbar-search-icon {
    display: block;
    width: 0;
    height: 0;
    float: left;
  }

  .code {
    display: block;
    flex: 1;
    font-size: 200%;
    color: white;
    text-align: center;
  }
  .share-button {
    display: block;
    margin: 0 auto;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(color($colors, dark), 0.9);
    z-index: 999;
  }
}
