<!-- header: desktop web app -->
<div *ngIf="plt == 'desktopweb'">

    <ion-header>
        <ion-navbar>
            <ion-buttons left>
                <button ion-button icon-only menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Queue</ion-title>
        </ion-navbar>
    </ion-header>

</div>

<!-- end: header: desktop web app -->

<ion-content>
    <ion-searchbar [(ngModel)]="searchString" (ionInput)="getTracks($event)" (ionClear)="clearSearch($event)" placeholder="Add Tracks">
    </ion-searchbar>

    <!-- List -->
    <ion-list class="striped">
        <ion-item *ngFor="let track of tracks">
            <ion-thumbnail item-start>
                <img ion-img [src]="track.album.images[2].url" />
            </ion-thumbnail>
            <h2>{{track.name}}</h2>
            <p>{{track.artists[0].name}} • {{track.album.name}}</p>
            <button ion-button clear item-end icon-only>
                <ion-icon name="heart-outline"></ion-icon>
            </button>
        </ion-item>
    </ion-list>

    <!-- <div>
        <p class="center padding-side"> Add new songs to the queue by searching for them or ask your guests to go to
            <span>
                <a href="https://festify.rocks">festify.us</a>
            </span> and enter this code: </p>
    </div>
    <div class="code">
        {{Code}}
    </div> -->


    <!--
    <button ion-button icon-right (tap)="publishEvent('share-party')" class="share-button">
        Share Link
        <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
    </button> -->


</ion-content>